/* CSS declarations go here */
body{
    font-family: 'Open Sans', sans-serif;
}
.nav{
    border-style: solid;
    background-color: darkslategray;
}
.top{
    border-style: dotted;
}
footer li{
    list-style: none;
}
footer{
    background-color: darkslategray;
    border-style: solid;
}
